:root {
  --purple: rgba(106, 59, 182, 0.8);
  --green: rgba(0, 161, 80, 0.8);
  --blue: rgba(0, 114, 190, 0.8);
  --text-green: rgb(31, 241, 152);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: "Inter", Arial, sans-serif;
  color: rgb(255, 255, 255);
  scrollbar-width: none;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.bg {
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* box */
.box {
  width: 980px;
  height: 600px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1.2px solid rgba(255, 255, 255, 0.24);
}

.box header {
  height: 56px;
  background-color: rgba(20, 20, 20, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: default;
  display: flex;
  &:active {
    cursor: pointer;
  }
}

.top-left, .top-right {
  width: 200px;
  height: 60px;

}

.top-center {
  width: 580px;
  height: 56px;
}

.top-center {
  display: grid;
  place-items: center;
  button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    margin-top: 12px;
    margin-left: 13px;
    transition-duration: 0.2s;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      color: rgba(255, 255, 255, 0.35);
    }
    svg {
      height: 21px;
      width: 21px;
    }
  }
  input {
    width: 450px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    padding: 0 40px 0 46px;
    color: rgba(255, 255, 255, 0.699);
    font-size: 16px;
    font-weight: 500;
    border: 1.4px solid rgba(255, 255, 255, 0.01);
    transition-duration: 0.2s;
    cursor: pointer;
    &:hover {
      border: 1.4px solid rgba(255, 255, 255, 0.1);
    }
    &:focus {
      border: 1.4px solid rgba(255, 255, 255, 0.2);
      cursor: text;
    }
  }
}

.top-right {
  display: flex;
  justify-content: right;
}

.top-right nav ul li {
  font-size: 22px;
  height: 56px;
  padding: 0 15px;
  font-weight: 300;
  cursor: pointer;
  svg {
    margin-top: 20px;
    height: 16px;
    width: 16px;
    opacity: 0.8;
  }
  .square {
    height: 14px;
    width: 14px;
    margin-top: 21px;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.169);
  }
  &:last-child {
    border-top-right-radius: 8px;
  }
}

.top-left nav ul li {
  height: 56px;
  padding: 0 15px;
  cursor: pointer;
  svg {
    margin-top: 20px;
    height: 16px;
    width: 16px;
    opacity: 0.8;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.169);
  }
  &:active {
    background-color: rgba(128, 128, 128, 0.14);
  }
  &:first-child {
    border-top-left-radius: 8px;
  }
}

.main {
  height: 544px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 5px 5px 5px;
  gap: 5px;
}

aside {
  height: 538px;
  width: 26%;
  background-color: rgb(13, 13, 14);
  border-radius: 6px;
}

.center-box {
  height: 538px;
  width: 48%;
  background: linear-gradient(to bottom, rgb(13, 13, 14) 0px, rgb(0, 0, 0) 520px);
  border-radius: 6px;
  overflow: scroll;
  padding: 15px;
}

.right-box {
  height: 538px;
  width: 26%;
  background-color: rgb(13, 13, 14);
  border-radius: 6px;
}

.not-found { 
  display: grid;
  place-items: center;
  height: 100%;
  p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    opacity: 0.5;
    user-select: none;
  }
}

.artist-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}

.artist-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.artist-header {
  background-position: top;
  margin-bottom: 10px;
}

.artist-title {
  margin-left: 10px;
  h2 {
    font-size: 42px;
    font-weight: 550;
  }
}

.stats {
  gap: 40px;
  p {
    color: #1DB954;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
  span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.8;
  }
}

.popular, .albums {
  width: 100%;
  h3 {
    font-size: 19px;
    font-weight: 550;
  }
  ul {
    padding: 0 20px;
  }
  li {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
  }
}

.library {
  justify-content: space-between;
  width: 100%;
  height: 44px;
  background-color: rgba(128, 128, 128, 0.0);
  border-radius: 6px;
  padding: 0 15px;
  h2 {
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.75;
    user-select: none;
  }
  svg {
    margin-left: 15px;
    height: 15px;
    width: 15px;
    opacity: 0.75;
    margin-top: 18px;
    transition-duration: 0.2s;
    &:hover {
      opacity: 0.63;
    }
    &:active {
      opacity: 0.53;
    }
  }
}

.playlist {
  svg{
    cursor: pointer;
  }
  .playlist-icon {
    border-radius: 6px;
    width: 50px;
    height: 50px;
    background-color: rgba(176, 176, 176, 0.354);
    display: grid;
    place-items: center;
    svg {
      height: 35px;
      width: 35px;
      color: black;
    }
  }
  h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    padding-left: 10px;
  }
  .lists {
    width: 100%;
    li {
      width: 100%;
      height: 50px;
      border-radius: 6px;
      margin-top: 5px;
    }
  }
}

.options {
  padding: 5px 0;
  width: 100%;
  ul {
    width: auto;
    gap: 10px;
  }
  ul li {
    display: flex;
    font-size: 14px;
    padding: 5px 12px;
    background-color: rgba(128, 128, 128, 0.2);
    font-size: 13px;
    border-radius: 40px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    user-select: none;
    cursor: pointer;
    transition-duration: 0.14s;
    &:hover {
      background-color: rgba(128, 128, 128, 0.3);
    }
    &:active {
      background-color: rgba(128, 128, 128, 0.25);
    }
  }
  div {
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    svg {
      height: 15px;
      width: 15px;
      opacity: 0.75;
      transition-duration: 0.2s;
      &:hover {
        opacity: 0.63;
      }
      &:active {
        opacity: 0.53;
      }
    }
    p{
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.history-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.history-image-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-image {
  width: 100%;
  height: auto;
}

.right-box {
  padding: 0 15px;
  h2 {
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.75;
    user-select: none;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.75;
    user-select: none;
  }
  ul {
    height: calc(100% - 44px);
    overflow: scroll;
  }
  li {
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      background-color: #e0e0e00a;
      .del-artist {
        opacity: 0.5;
      }
    }
  }
  .del-artist {
    position: absolute;
    right: 14px;
    opacity: 0;
    transition-duration: 0.2s;
  }
}